  
  .selected {
    font-weight: bolder;
  }
  
  /* Estilo general de la página */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Estilo del header y la barra de navegación */
  header {
    background-color: #333;
    padding: 10px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilo de los enlaces de navegación */
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffa500; /* Cambia el color al pasar el ratón */
  }
  
  /* Estilo de la sección principal */
  main {
    padding: 20px;
  }
  